Source: mkfusion
Section: devel httpd
Priority: optional
Maintainer: Boris Barbulovski <bbarbulovski@gmail.com>
Build-Depends: debhelper (>= 8.0.0), apache2-dev (>= 2.4.6) | apache2-prefork-dev (>= 2.2.22), qt5-default(>= 5.0.1), lsb-release (>= 4.0)
Standards-Version: 3.9.4
Homepage: http://mkfusion.bokicsoft.com/
Vcs-Svn: http://svn.code.sf.net/p/mkfusion/code/trunk/
Vcs-Browser: http://sourceforge.net/p/mkfusion/code/HEAD/tree/trunk/

Package: mkfusion
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libstdc++6(>= 4.7.3), libgcc1(>= 1:4.7.3), qt5-default(>= 5.0.1), qtbase5-dev(>= 5.0.1), g++(>= 4:4.7.3)
Description: CFML(ColdFusion compatible) application server
 MKFusion is free opensource native CFML application server.
 Features:
 * 

Package: mkfusion-generator
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libstdc++6(>= 4.7.3), libgcc1(>= 1:4.7.3), qt5-default(>= 5.0.1), qtbase5-dev(>= 5.0.1), g++(>= 4:4.7.3)
Description: Generates C++(Qt) from cfm or cfc file
 
Package: libapache2-mod-mkfusion
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, apache2 (>= 2.4.6) | apache2-mpm-prefork (>= 2.2.22), libqt5core5 (>= 5.0.1), libstdc++6 (>= 4.7.3), libcc1 (>= 1:4.7)
Description: mkfusion apache module
 MKFusion is free opensource native CFML application server.
 Features:
 * 

