Source: libapache2-mod-mkfusion
Section: httpd
Priority: optional
Maintainer: Boris Barbulovski <bbarbulovski@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://mkfusion.bokicsoft.com/
#Vcs-Git: git://git.debian.org/collab-maint/tt.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/tt.git;a=summary

Package: libapache2-mod-mkfusion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CFML(ColdFusion compatible) application server
 MKFusion is free opensource native CFML application server.
 Features:
 * 

