#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk

mkfusion = $(CURDIR)/bin/mkfusion

mkfusion_generator = $(CURDIR)/bin/mkfusion-generator

mkfusion_conf = $(CURDIR)/install/ubuntu/mkfusion_mkfusion.conf
mkfusion_load = $(CURDIR)/install/ubuntu/mkfusion_mkfusion.load
conf_d = $(CURDIR)/install/ubuntu/mkfusion_conf.d
mod_mkfusion = $(CURDIR)/bin/libmod_mkfusion.so.1.0.0


MKFUSION_DEST = $(CURDIR)/debian/mkfusion/usr/sbin

MKFUSION_GENERATOR_DEST =  $(CURDIR)/debian/mkfusion-generator/usr/bin

MOD_MKFUSION_APACHE2_MODS_DEST = $(CURDIR)/debian/libapache2-mod-mkfusion/etc/apache2/mods-available
MOD_MKFUSION_MKFUSION_CONF_DEST = $(CURDIR)/debian/libapache2-mod-mkfusion/etc/mkfusion/apache2
MOD_MKFUSION_MKFUSION_MODULE_DEST = $(CURDIR)/debian/libapache2-mod-mkfusion/usr/lib/apache2/modules

$(mkfusion):
	cd src/mkfusion/appserver && qmake appserver.pro -o Makefile
	cd src/mkfusion/appserver && make -f Makefile

$(mkfusion_generator):
	cd src/mkfusion/mkfusion_generator && qmake mkfusion_generator.pro -o Makefile
	cd src/mkfusion/mkfusion_generator && make -f Makefile

$(mod_mkfusion):
	cd src/mkfusion/mod_mkfusion && qmake mod_mkfusion.pro -o Makefile
	cd src/mkfusion/mod_mkfusion && make -f Makefile

build-arch: build

build-indep: build

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

install: build $(mkfusion) $(mkfusion_generator) $(mod_mkfusion) $(mkfusion_conf) $(mkfusion_load) $(conf_d) clean
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
# mkfusion(appserver)
	mkdir -m 755 -p $(MKFUSION_DEST)
	install -m 744 -s $(mkfusion) $(MKFUSION_DEST)
# mkfusion-generator
	mkdir -m 755 -p $(MKFUSION_GENERATOR_DEST)
	install -m 744 -s $(mkfusion_generator) $(MKFUSION_GENERATOR_DEST)
# mod_mkfusion
	mkdir -m 755 -p $(MOD_MKFUSION_APACHE2_MODS_DEST)
	install -T -m 644 $(mkfusion_conf) $(MOD_MKFUSION_APACHE2_MODS_DEST)/mkfusion.conf
	install -T -m 644 $(mkfusion_load) $(MOD_MKFUSION_APACHE2_MODS_DEST)/mkfusion.load
	mkdir -m 755 -p $(MOD_MKFUSION_MKFUSION_CONF_DEST)
	install -T -m 644 $(conf_d) $(MOD_MKFUSION_MKFUSION_CONF_DEST)/conf.d
	mkdir -m 755 -p $(MOD_MKFUSION_MKFUSION_MODULE_DEST)
	install -m 644 -s $(mod_mkfusion) $(MOD_MKFUSION_MKFUSION_MODULE_DEST)

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
